@import "./mixins";

*{
    margin: 0;
    font-family: sans-serif;
    background-color:#1f1b1e ;
}

.header{
    color: white;
    background-color: black;
    display: flex;
    width: 100%;
    height: 60px;

    @include tablet{
        width: 100%;
        height: 170px;
        display: flex;
        flex-direction: column;

    }
    @include mobile{
        background-color: black ;
        height: 65px;
        display: flex;
        align-items: center;
    }
   
   
    .tittle{
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 30px;

        @include tablet{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            padding-left: 0;
        }
        @include mobile{
            width: 90%;
            height: 60px;
            justify-content: space-between;
        }
        

        &__foto{
            
            @include tablet{
                width:25%;
                height: 40%;
            }
            @include mobile{

            }
        }
        &__burger{
            display: none;

            @include mobile{
                display: flex;
                width: 10%;
            }
        }
    }


    .navbar{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include tablet{

            width: 100%;
            height: 50%;
            font-size: 21px;
            font-weight: 800;
        }
        @include mobile{
            display: none;
        }

        &__list{
            display: flex;
            justify-content: space-between;
            width: 50%;
            list-style-type: none;
            display: flex;

            @include tablet{

                display: contents;
            }
        }
    }
}
// ---------------------------------------------------

.main{
    background-color: #1f1b1e;
    color: white;

    .section1{
        display: flex;
        background-color: #1f1b1e;
        color: white;
        width: 100%;
        padding-top: 100px;

        @include tablet{

            display: flex;
            flex-direction: column;
            padding-top: 30px;
        }

        .left{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 8% 0 0 4%;
            font-size: 33px;
            gap: 24px;
            width: 50%;

            @include tablet{

                width: 55%;
            }
            

            &__tittle{
                color: #ff8303;
                font-size: 59px;

            }
            &__profession{

            }
            &__text{
                opacity: .9;

            }
        }

        .right{
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding:  50px 0;


            @include tablet{
                width: 100%;
                
            }

            &__foto{


                @include mobile{
                    width: 92%;
                }
            }
        
    }

    }

    .section2{
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: white;
        height: 100%;
        width: 100%;
      
        @include mobile{
            flex-direction: column;
            padding-bottom: 50px;
        }

        .icon{
            width: 9%;
            padding-right: 20px;

            @include tablet{
                width: 23%;
            }
            @include mobile{
                width: 27%;
            }

        }
        .text{
            width: 60%;
            font-size: 14px;
            opacity: 0.7;

        }       
    }

    .section3{
        align-items: center;
        justify-content: center;
        color:white;
        padding-top: 32px;

        
        width: 100%;
        display: flex;
        flex-direction: column;
       

        .header{
            color: #ff8303;
            background-color: #1f1b1e;  
            align-items: center;
            justify-content: center;  
            margin: 32px 0;
            font-size: 30px;
            font-weight: 600;       
        }

        .skills{
            display: flex;
            width: 80%;
            justify-content: space-evenly;

            @include tablet{
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
            }
            @include mobile{
                flex-direction: column;
                flex-wrap: nowrap;

                width: 100%;
                align-items: center;
            }
            

            &__item{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 62px 41px;
                background-color: #21201d;
                border-radius: 9px;

                @include tablet{
                    margin-bottom: 30px;
                }
                @include mobile{
                    display: flex;
                    flex-direction: row;
                    padding: 20px;

                    width: 70%;
                }

                &-foto{
                    @include mobile{
                        width: 10%;
                        padding-right: 25px;
                    }
                   

                }
                &-name{
                    padding-top: 12px;
                    font-size: 29px;

                    @include mobile{
                        padding-top: 0;
                    }


                }

            }
        }
    }

    .section4{
        width: 100%;

        .container{
            width: 75%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 32px auto;

            @include tablet{
                width: 50%;
            }
            @include mobile{
                width: 70%;
            }

            .tittle{
                color: #ff8303;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 64px 0 32px 0;
                font-size: 29px;
            }

            .all{
                display: flex;
                justify-content: center;
                gap: 20px;

                @include tablet{
                    flex-direction: column;
                    
                }

                .left{
                    background-color: #21201d;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    &__tittle{
                        color: #ff8303;
                        font-size: 26px;

                        @include tablet{
                            padding-top: 20px;
                            background-color: #21201d;
                        }

                    }
                    &__tittle2{

                    }
                    &__line{
                        color: azure;
                        width: 70%;
                        margin: 0 0 20px;
                    }
                    &__text{
                        width: 77%;

                    }
                    &__btn{
                        color: white;
                        background-color: #32312e;
                        border: none;
                        border-radius: 4px;
                        padding: 12px;

                    }
                }
                .medium{

                    &__foto{

                        @include tablet{
                            width: 100%;
                        }
                    }
                }
                .right{
                    background-color: #21201d;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    &__tittle{
                        color: #ff8303;
                        font-size: 26px;

                    }
                    &__tittle2{

                    }
                    &__line{
                        color: azure;
                        width: 70%;
                        margin: 0 0 20px;
                    }
                    &__text{
                        width: 77%;

                    }
                    &__btn{
                        color: white;
                        background-color: #32312e;
                        border: none;
                        border-radius: 4px;
                        padding: 12px;

                    }
                }
            }
        }
    }

}

.footer{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 64px 0;

        @include tablet{
           flex-direction: column;
           align-items: center;
        }

       @include mobile{
        flex-direction: column;
        align-items: center;
        
       }

        .left{
            width: 35%;

            @include tablet{

                width: 50%;
            }
           
            &__logo{

                @include tablet{
                    padding-left: 76px;
                }

                @include mobile{
                    padding-left: 35.1px;
                }

            }
            &__text{
                width: 50%;
                font-size: 16px;
                font-weight: 100;
                padding: 25px 0;
                opacity: .9;

                @include mobile{
                    width: 156%;
                    
                }
                @include tablet{
                    width: 100% ;
                }

            }
        }
        .right{
            width: 35%;

            @include tablet{
                width: 55%;
            }

            &__tittle{
                color: #ff8303;

                @include tablet{
                    text-align: center;
                }
            }

            .sosial{
                display: flex;
                gap: 60px;
                padding-top: 25px;

                @include mobile{
                    display: flex;
                    flex-direction: column !important;
                    height: max-content !important;
                    gap: 20px;
                }
                @include tablet{
                    display: flex;
                    flex-direction: row;
                    height: 5vh;
                }
                            
                .media{
                    display: flex; 
                    align-items: center;
                    width: 100%;      
                    
                    @include tablet{
                        display: flex;
                    }
                    
                    &__icon{
                        width: 15%;
                        
                    }
                    &__name{
                        font-size: 18px;
                        padding-left: 6px;
                        color: #ff8303;
                        
                    }
                }
            }
            
                
            
        }
    }

}